
* {
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
	width: 100%;
	margin: 0;
}

.mapbox {   
	width: 100%; 
	height: 300px;
	opacity: 0.65;
}

.container {
	z-index: 1;
	width: 60%;
	margin: -180px auto 0 auto;
}

.hero_title {
	font-family: 'Sumana', serif;
	font-weight: 700;
	font-size: 230%;
	line-height: 130%;
	position: relative;
}

.filter_bar {
	margin: 160px 0 0 0;
}

input[type=checkbox] {
	display: none;
}

label, input[type="submit"] {
	font-family: 'Montserrat', sans-serif;
	font-size: 85%;
    -webkit-user-select: none;
    cursor: pointer;
    border: none;
    margin: 0 4px;
    padding: 6px 12px 7px 12px;
    color: #687177;
    background: linear-gradient(-180deg, #fdfdfd, #eff0f1);
    box-shadow: inset 0px -0.5px 1px 0px #687177, 0px 0px 1px 0px #687177;
}

.price input[type=checkbox]:checked + label {
    color: #127ca1;
    background: linear-gradient(-180deg, #fcfeff, #d3f0fa);
    box-shadow: inset 0px -0.8px 1px 0px #127ca1, 0px 0px 1px 0px #127ca1;
}

.opennow input[type=checkbox]:checked + label {
    color: #517d2b;
    background: linear-gradient(-180deg, #fafdf8, #dff0d2);
    box-shadow: inset 0px -0.8px 1px 0px #517d2b, 0px 0px 1px 0px #517d2b;
}

input[type="submit"]:hover {
    color: #c75a08;
    background: linear-gradient(-180deg, #fef2e9, #fbc7a0);
    box-shadow: inset 0px -0.8px 1px 0px #c75a08, 0px 0px 1px 0px #c75a08;
}

.price, .opennow {
	display: inline;
}

.opennow label, input[type="submit"] {
	border-radius: 5px;
}

.opennow label {
	margin: 0 5px 0 0;
}

input[type="submit"] {
	margin: 0 0 0 25px;
}

.price label {
	margin: 0 -2px;
}

.priceleft label {
	border-radius: 5px 0px 0px 5px;
	margin: 0 -2px 0 5px;
}

.priceright label {
	border-radius: 0px 5px 5px 0px;
	margin: 0 5px 0 -2px;
}

.places {
	margin: 10px 0 0 0;
}

.place_card {
	background: #fbfbfb;
	color: #333;
	padding: 5px 17px 19px 17px;
	margin: 30px 30px 30px 0;
	border-radius: 2px;
	box-shadow: 0px 1px 2px 0px #ccc, 0px 0px 1px 0px #ccc;
}

.place_name {
	font-family: 'Sumana', serif;
	font-weight: 700;
	font-size: 120%;
	line-height: 200%;
}

.place_description {
	font-family: 'Sumana', serif;
	font-weight: 400;
	font-size: 100%;
	line-height: 130%;
}

.tags {
	margin: 20px 0 0 0;
}

.tag {
	font-family: 'Montserrat', serif;
	font-size: 85%;
	line-height: 100%;
	display: inline;
	margin: 0 2px 0 0;
	padding: 2 8px;
	border-radius: 20px;
	border: 1.5px solid #ddd;
	color: #888;
	background: #f0f0f0;
}

.place_price {
	border: 1.5px solid #c4e3ac;
	color: #72b93e;
	background: #edf6e5;
}

